@import helper._
@import models.people.PersonProfile

@import java.text.NumberFormat
@import java.time.ZoneId
@import java.time.format.DateTimeFormatter

@import play.twirl.api.HtmlFormat.raw

@(person: PersonProfile, imageList: Seq[Images])
@main("Person Profile"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>Person Profile</h2>
    <h3>@person.name</h3>
    <p><b>Other names:</b> @{if(person.alternate_names.nonEmpty) person.alternate_names.mkString(", ") else "None"}</p>
    <p>Favourited by <b>@NumberFormat.getInstance().format(person.favorites)</b> @{if(person.favorites == 1) "user" else "users"}</p>
    @if(person.voices.nonEmpty) {
      <p><a href="@routes.PersonController.getVoicedCharacters(person.mal_id.toString, "all", "none", "none")">See Voiced Characters</a></p>
    }
    @if(person.anime.nonEmpty) {
      <p><a href="@routes.PersonController.getAnimePositions(person.mal_id.toString)">See Anime Positions</a></p>
    }
    @if(imageList.length <= 1){
      <img class="char-img-profile" src="@person.images.jpg.image_url" alt="Person image">
    } else {
      <script src="https://cdn.jsdelivr.net/npm/@@glidejs/glide@@3.4.1/dist/glide.min.js"></script>
      <script src="@routes.Assets.versioned("javascripts/glideCarousel.js")"></script>
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
          @for((image, index) <- imageList.zipWithIndex) {
            <li class="glide__slide li-carousel">
              <img src="@image.jpg.image_url" class="d-block w-100" alt="Person image @{index + 1}">
            </li>
          }
          </ul>
        </div>
          <!-- Navigation buttons -->
        <div data-glide-el="controls">
          <button data-glide-dir="<" class="glide__prev">
            <img src="@routes.Assets.versioned("images/left-icon.png")" alt="Prev">
          </button>
          <button data-glide-dir=">" class="glide__next">
            <img src="@routes.Assets.versioned("images/right-icon.png")" alt="Next">
          </button>
        </div>
      </div>
    }

    @if(person.birthday.nonEmpty) { <p><b>Birthday:</b> @{person.birthday.get.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("dd MMM yyyy"))}</p> }
    <p><b>About:</b><br>@raw(person.about.getOrElse("Not available").replace("\n", "<br>"))</p>
  </div>
}
