@import helper._
@import models.people.PersonProfile

@import java.text.NumberFormat
@import java.time.ZoneId
@import java.time.format.DateTimeFormatter

@import play.twirl.api.HtmlFormat.raw

@(person: PersonProfile)
@main("Person Profile"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>Person Profile</h2>
    <h3>@person.name</h3>
    <p><b>Other names:</b> @{if(person.alternate_names.nonEmpty) person.alternate_names.mkString(", ") else "None"}</p>
    <p>Favourited by <b>@NumberFormat.getInstance().format(person.favorites)</b> @{if(person.favorites == 1) "user" else "users"}</p>
    <p><a href="@routes.PersonController.getVoicedCharacters(person.mal_id.toString, "all", "none", "none")">See Voiced Characters</a></p>
    <img class="char-img-profile" src="@person.images.jpg.image_url" alt="Person image">

    @if(person.birthday.nonEmpty) { <p><b>Birthday:</b> @{person.birthday.get.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("dd MMM yyyy"))}</p> }
    <p><b>About:</b><br>@raw(person.about.getOrElse("Not available").replace("\n", "<br>"))</p>
  </div>
}
