@import helper._

@import java.text.NumberFormat
@import java.time.format.DateTimeFormatter
@import java.time.ZoneId

@import play.twirl.api.HtmlFormat.raw

@(anime: AnimeData, inDatabase: Boolean)(implicit request: RequestHeader)
@main("Anime Details"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>Anime details</h2>
    <h3>@anime.title (MAL ID: @anime.mal_id)</h3>
    @if(anime.title_english.nonEmpty) { <h3><i>@anime.title_english</i></h3> }
    <img class="char-img-profile" src="@anime.images.jpg.image_url" alt="Anime image">
    <p><b>Type:</b> @{anime.`type`}</p>
    <p><b>Maturity rating:</b> @anime.rating.getOrElse("N/A")</p>
    <p><b>Genres:</b> @anime.genres.map(_.name).mkString(", ") </p>
    <br>
    <p>
      <b>No. of episodes:</b> @anime.episodes.getOrElse("Not available")
      <br><a href="@routes.ApplicationController.getEpisodeList(anime.mal_id.toString, "1")">See episode list</a>
    </p>
    <p><b>Status:</b> @anime.status</p>
    @if(anime.aired.from.nonEmpty) { <p><b>Start date:</b> @{anime.aired.from.get.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("E, dd MMM yyyy"))}</p> }
    @if(anime.aired.to.nonEmpty) { <p><b>End date:</b> @{anime.aired.to.get.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("E, dd MMM yyyy"))}</p> }
    <br>
    <p><b>Average score:</b> @anime.score.getOrElse("N/A")</p>
    @if(anime.scored_by.nonEmpty) {
      @if(anime.scored_by.get == 1){
        <p>Scored by 1 user</p>
      } else {
        <p>Scored by @NumberFormat.getInstance().format(anime.scored_by.get) users</p>
      }
    }
    <br>
    <p><b>Synopsis:</b><br>@raw(anime.synopsis.getOrElse("Not available").replace("\n", "<br>"))</p>

    @if(inDatabase){
      <p class="button-box"> Saved </p>
    } else {
      <form action="@routes.ApplicationController.saveAnime()" method="POST" class="button-form">
        @CSRF.formField
        <input type="hidden" name="url" value="@request.uri">
        <input type="hidden" name="id" value="@anime.mal_id">
        <input type="hidden" name="title" value="@anime.title">
        @if(anime.title_english.nonEmpty) { <input type="hidden" name="titleEnglish" value="@anime.title_english"> }
        <input type="hidden" name="type" value="@{anime.`type`}">
        @if(anime.episodes.nonEmpty) { <input type="hidden" name="numEpisodes" value="@anime.episodes"> }
        @if(anime.year.nonEmpty) { <input type="hidden" name="year" value="@anime.year"> }
        @if(anime.score.nonEmpty) { <input type="hidden" name="MALScore" value="@anime.score"> }
        <button type="submit">+ Save</button>
      </form>
    }
  </div>

  <div class="container mb-5">
    <h3>More details</h3>
    <p><a href="@routes.ApplicationController.getAnimeCharacters(anime.mal_id.toString)">Characters</a></p>
    <p><a href="@routes.ApplicationController.getAnimeReviews(anime.mal_id.toString, "1", "false", "false")">Reviews</a></p>
    <p><a href="@routes.ApplicationController.getAnimeRecommendations(anime.mal_id.toString)">Recommendations</a></p>
    <p><a href="@routes.ApplicationController.getAnimeRelations(anime.mal_id.toString)">Related Anime and Theme Songs</a></p>
  </div>
}