@import helper._
@import java.text.NumberFormat
@import models.statistics.AnimeStats

@import play.api.libs.json.Json

@(anime: AnimeData, statistics: AnimeStats)
@main("Anime Statistics"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
    <p><a class="image-text-link" href="@routes.ApplicationController.getAnimeById(anime.mal_id.toString)">
      <img class="link-icon" src="@routes.Assets.versioned("images/back-icon.png")" alt="Back Icon">
      Back to Anime Details
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>User and Score Statistics</h2>
    <h3>@anime.title</h3>
    @if(anime.title_english.nonEmpty) { <h3><i>@anime.title_english</i></h3> }

    <b>Total members:</b> @NumberFormat.getInstance().format(statistics.total)
    <div id="viewers-chart" hidden>@Json.toJson(statistics)</div>
    <div class="bar-chart">
      <canvas id="viewersChart"></canvas>
    </div>

    <p></p>

    @if(statistics.scores.nonEmpty){
      @if(anime.score.nonEmpty){ <b>Average score:</b> @anime.score }
      @if(anime.scored_by.nonEmpty){
        <br><b>Total votes:</b> @NumberFormat.getInstance().format(anime.scored_by.get)
      }

      <div id="scores-chart" hidden>@Json.toJson(statistics.scores)</div>
      <div class="bar-chart">
        <canvas id="scoresChart"></canvas>
      </div>
      <div class="single-bar-chart">
        <canvas id="scoresBinaryChart" height="60"></canvas>
      </div>
      <div class="pie-chart">
        <canvas id="scoresPieChart"></canvas>
      </div>

      <script src="@routes.Assets.versioned("javascripts/scoresBarChart.js")"></script>
      <script src="@routes.Assets.versioned("javascripts/scoresBinaryChart.js")"></script>
      <script src="@routes.Assets.versioned("javascripts/scoresPieChart.js")"></script>

    } else {
      <i>No scores available.</i>
    }
  </div>

@*  use if chart.js is not downloaded/saved - add to application.conf *@
@*  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@
  <script src="@routes.Assets.versioned("javascripts/chart.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/viewersBarChart.js")"></script>
}