@import helper._

@()(implicit request: RequestHeader)
@main("Jikan API") {
  <div class="container mb-5">
    <h1>Welcome to your version of Jikan API</h1>
    <h2>Extracting information from MyAnimeList</h2>
    <p>Have a look at the documentation for the API <a href="https://docs.api.jikan.moe/" target="_blank">here</a></p>
  </div>

@*  <div class="container mb-5">*@
@*    <p><a href="@routes.ApplicationController.listAllUsers()"> Show all users in database </a></p>*@
@*    <br>*@
@*    <h3>Search for a GitHub user</h3>*@
@*    @form(action = routes.ApplicationController.searchUser()) {*@
@*      @CSRF.formField*@
@*      <div>*@
@*        <input type="text" name="username" placeholder="Enter username" required>*@
@*        <button type="submit">Search</button>*@
@*      </div>*@
@*    }*@
@*  </div>*@
}
