@import helper._
@import java.text.NumberFormat
@import models.recommendations.Recommendation

@(anime: AnimeData, recommendations: Seq[Recommendation])
@main("Anime Recommendations"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
    <p><a class="image-text-link" href="@routes.ApplicationController.getAnimeById(anime.mal_id.toString)">
      <img class="link-icon" src="@routes.Assets.versioned("images/back-icon.png")" alt="Back Icon">
      Back to Anime Details
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>Recommendations if you liked...</h2>
    <h3>@anime.title
      @if(anime.title_english.nonEmpty) { <br><i>@anime.title_english</i> }</h3>

    @if(recommendations.isEmpty) {
      <p>No recommendations available.</p>
    } else {
      <ul class="ul-for-chars">
      @for(rec <- recommendations) {
        <li class="li-for-char">
          <div class="char-img-container">
            <img class="char-img" src="@rec.entry.images.jpg.image_url" alt="Anime image">
          </div>
          <div class="char-info-container">
            <p><a href="@routes.ApplicationController.getAnimeById(rec.entry.mal_id.toString)" target="_blank">
              <b>@rec.entry.title</b>
            </a></p>
            <p>@{rec.votes} @{if(rec.votes == 1) "vote" else "votes"}</p>
          </div>
        </li>
      }
      </ul>
    }
  </div>
}
