@import helper._
@import java.text.NumberFormat
@import java.time.ZoneId

@*RequestHeader needed for form with CRSF*@
@(animeResults: Seq[AnimeData], pagination: AnimeSearchPagination, search: String, queryExt: String,
        queryParams: AnimeSearchParams, idsInDatabase: Seq[Int])(implicit request: RequestHeader)
@main("Search Anime"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>Search results: @search</h2>
    @form(action = routes.ApplicationController.searchAnime()) {
      @CSRF.formField
      <div class="form-div">
        <h3>Modify Search: <input type="text" name="search" value="@search" placeholder="Enter search term" size="40" required>
        <button type="submit">Search</button></h3>
      </div>
      <div class="form-div">
        <select name="status">
          <option value="" @(if(queryParams.status == "") "selected" else "")>Status</option>
          <option value="airing" @(if(queryParams.status == "airing") "selected" else "")>Airing</option>
          <option value="complete" @(if(queryParams.status == "complete") "selected" else "")>Complete</option>
          <option value="upcoming" @(if(queryParams.status == "upcoming") "selected" else "")>Upcoming</option>
        </select>
        <input type="number" name="minScore" value="@queryParams.minScore" placeholder="Min score" min="1" max="10" step="0.01">
        <input type="number" name="maxScore" value="@queryParams.maxScore" placeholder="Max score" min="1" max="10" step="0.01">
        <select name="orderBy">
          <option value="" @(if(queryParams.orderBy == "") "selected" else "")>Order by...</option>
          <option value="title" @(if(queryParams.orderBy == "title") "selected" else "")>Title</option>
          <option value="score" @(if(queryParams.orderBy == "score") "selected" else "")>Average score</option>
          <option value="scored_by" @(if(queryParams.orderBy == "scored_by") "selected" else "")>No. of scores given</option>
          <option value="episodes" @(if(queryParams.orderBy == "episodes") "selected" else "")>No. of episodes</option>
          <option value="start_date" @(if(queryParams.orderBy == "start_date") "selected" else "")>Start date</option>
          <option value="end_date" @(if(queryParams.orderBy == "end_date") "selected" else "")>End date</option>
        </select>
        <select name="sort">
          <option value="" @(if(queryParams.sort == "") "selected" else "")>Sort order</option>
          <option value="asc" @(if(queryParams.sort == "asc") "selected" else "")>Ascending</option>
          <option value="desc" @(if(queryParams.sort == "desc") "selected" else "")>Descending</option>
        </select>
      </div>
    }
  </div>

  <div class="container mb-5">
    @if(animeResults.isEmpty) {
      <p>No search results.</p>
    } else {
      <div>
        <p>
          @if(pagination.current_page > 1){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 1).toString, queryExt)"> Previous </a> - }
          <b>Page @pagination.current_page of @pagination.last_visible_page</b>
          @if(pagination.has_next_page){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 1).toString, queryExt)"> Next </a> }
        </p>
        <p>Results @NumberFormat.getInstance().format((pagination.current_page-1) * pagination.items.per_page + 1) - @NumberFormat.getInstance().format((pagination.current_page-1) * pagination.items.per_page + pagination.items.count)
          of @NumberFormat.getInstance().format(pagination.items.total)</p>
        @if(pagination.last_visible_page > 1) {
          <p class="smaller-text">
            Page:
            @if(pagination.current_page > 4){ <a href="@routes.ApplicationController.getAnimeResults(search, "1", queryExt)">First</a> ... }
            @if(pagination.current_page > 3){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 3).toString, queryExt)">@{pagination.current_page - 3}</a> - }
            @if(pagination.current_page > 2){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 2).toString, queryExt)">@{pagination.current_page - 2}</a> - }
            @if(pagination.current_page > 1){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 1).toString, queryExt)">@{pagination.current_page - 1}</a> - }
            <b>@pagination.current_page</b>
            @if(pagination.last_visible_page - pagination.current_page > 0){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 1).toString, queryExt)">@{pagination.current_page + 1}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 1){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 2).toString, queryExt)">@{pagination.current_page + 2}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 2){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 3).toString, queryExt)">@{pagination.current_page + 3}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 3){ ... <a href="@routes.ApplicationController.getAnimeResults(search, pagination.last_visible_page.toString, queryExt)">Last</a> }
          </p>
        }
      </div>
      <ul class="ul-with-boxes">
      @for(anime <- animeResults) {
        <li class="li-with-box">
          <div class="text-container">
            <p><a href="@routes.ApplicationController.getAnimeById(anime.mal_id.toString)" target="_blank"> <b>@anime.title</b> </a>
              @if(anime.title_english.nonEmpty){ <br><i>@anime.title_english</i> }
            </p>
            @if(idsInDatabase.contains(anime.mal_id)){
              <p class="button-box"> Saved </p>
            } else {
              <form action="@routes.SavedAnimeController.saveAnime()" method="POST" class="button-form">
                @CSRF.formField
                <input type="hidden" name="url" value="@request.uri">
                <input type="hidden" name="id" value="@anime.mal_id">
                <input type="hidden" name="title" value="@anime.title">
                @if(anime.title_english.nonEmpty) { <input type="hidden" name="titleEnglish" value="@anime.title_english"> }
                <input type="hidden" name="type" value="@{anime.`type`}">
                @if(anime.episodes.nonEmpty) { <input type="hidden" name="numEpisodes" value="@anime.episodes"> }
                @if(anime.year.nonEmpty) {
                  <input type="hidden" name="year" value="@anime.year">
                } else {
                  @if(anime.aired.from.nonEmpty) { <input type="hidden" name="year" value="@{anime.aired.from.get.atZone(ZoneId.of("UTC")).getYear}">  }
                }
                @if(anime.score.nonEmpty) { <input type="hidden" name="MALScore" value="@anime.score"> }
                <button type="submit">+ Save</button>
              </form>
            }
          </div>
          <div class="text-container">
            <p>@{anime.`type`}@if(anime.year.nonEmpty || anime.aired.from.nonEmpty){, @anime.year.getOrElse(anime.aired.from.get.atZone(ZoneId.of("UTC")).getYear)}
            <br>@anime.status</p>
            <p>
              @if(anime.episodes.nonEmpty){
                Episodes: @anime.episodes
              } else {
                No. of episodes unknown
              }
            </p>
            @if(anime.score.nonEmpty){
              <span>Average score: @anime.score
                @if(anime.scored_by.nonEmpty) {
                  @if(anime.scored_by.get == 1){
                    from 1 user
                  } else {
                    from @NumberFormat.getInstance().format(anime.scored_by.get) users
                  }
                }
              </span>
            }
          </div>
        </li>
      }
      </ul>
      <br>
      <div>
        <p>
          @if(pagination.current_page > 1){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 1).toString, queryExt)"> Previous </a> - }
          <b>Page @pagination.current_page of @pagination.last_visible_page</b>
          @if(pagination.has_next_page){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 1).toString, queryExt)"> Next </a> }
        </p>
        <p>Results @NumberFormat.getInstance().format((pagination.current_page-1) * pagination.items.per_page + 1) - @NumberFormat.getInstance().format((pagination.current_page-1) * pagination.items.per_page + pagination.items.count)
          of @NumberFormat.getInstance().format(pagination.items.total)</p>
        @if(pagination.last_visible_page > 1) {
          <p class="smaller-text">
            Page:
            @if(pagination.current_page > 4){ <a href="@routes.ApplicationController.getAnimeResults(search, "1", queryExt)">First</a> ... }
            @if(pagination.current_page > 3){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 3).toString, queryExt)">@{pagination.current_page - 3}</a> - }
            @if(pagination.current_page > 2){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 2).toString, queryExt)">@{pagination.current_page - 2}</a> - }
            @if(pagination.current_page > 1){ <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page - 1).toString, queryExt)">@{pagination.current_page - 1}</a> - }
            <b>@pagination.current_page</b>
            @if(pagination.last_visible_page - pagination.current_page > 0){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 1).toString, queryExt)">@{pagination.current_page + 1}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 1){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 2).toString, queryExt)">@{pagination.current_page + 2}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 2){ - <a href="@routes.ApplicationController.getAnimeResults(search, (pagination.current_page + 3).toString, queryExt)">@{pagination.current_page + 3}</a> }
            @if(pagination.last_visible_page - pagination.current_page > 3){ ... <a href="@routes.ApplicationController.getAnimeResults(search, pagination.last_visible_page.toString, queryExt)">Last</a> }
          </p>
        }
      </div>
    }
  </div>
}