@import helper._
@import java.text.NumberFormat

@*RequestHeader needed for form with CRSF*@
@(charFaves: Seq[CharacterFavourite], username: String)(implicit request: RequestHeader)
@main("User's Favourite Characters"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
    <p><a class="image-text-link" href="@routes.ApplicationController.getUserProfile(username)">
      <img class="link-icon" src="@routes.Assets.versioned("images/profile-icon.png")" alt="Profile Icon">
      Back to User Profile
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>@username's Favourite Characters</h2>
    @if(charFaves.isEmpty) {
      <p>No favourite characters.</p>
    } else {
      <p><b>@charFaves.length</b> favourite @{if(charFaves.length == 1) "character" else "characters"} on @username's list.</p>

      <ul class="ul-for-chars">
      @for(char <- charFaves) {
        <li class="li-for-char">
          <div class="char-img-container">
            <img class="char-img" src="@char.images.jpg.image_url" alt="Character image">
          </div>
          <div class="char-info-container">
            <p>
              <b><a href="@routes.ApplicationController.getCharacterProfile(char.mal_id.toString)" target="_blank">@char.name</a></b>
            </p>
          </div>
        </li>
      }
      </ul>
    }
  </div>
}
