@import helper._
@import java.text.NumberFormat

@*RequestHeader needed for form with CRSF*@
@(animeFaves: Seq[AnimeFavourite], username: String, orderBy: String, sortOrder: String)(implicit request: RequestHeader)
@main("User's Favourite Anime"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
    <p><a class="image-text-link" href="@routes.ApplicationController.getUserProfile(username)">
      <img class="link-icon" src="@routes.Assets.versioned("images/profile-icon.png")" alt="Profile Icon">
      Back to User Profile
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>@username's Favourite Anime</h2>
    @form(action = routes.ApplicationController.sortFavourites()) {
      @CSRF.formField
      <div class="form-div">
        <h3>Sort favourites:</h3>
        <input type="text" name="username" value="@username" hidden>
        Order by:
        <select name="orderBy">
          <option value="none" @(if(orderBy == "none") "selected" else "")>Select</option>
          <option value="title" @(if(orderBy == "title") "selected" else "")>Title</option>
          <option value="start_year" @(if(orderBy == "start_year") "selected" else "")>Start year</option>
        </select>
          &nbsp;&nbsp; Sort order:
        <select name="sortOrder">
          <option value="none" @(if(sortOrder == "none") "selected" else "")>Select</option>
          <option value="asc" @(if(sortOrder == "asc") "selected" else "")>Ascending</option>
          <option value="desc" @(if(sortOrder == "desc") "selected" else "")>Descending</option>
        </select>
        <button type="submit">Sort</button>
      </div>
    }

    <br>
    @if(animeFaves.isEmpty) {
      <p>No anime favourites.</p>
    } else {
      <p><b>@animeFaves.length</b> favourites on @username's list:</p>
      <ul>
      @for(anime <- animeFaves) {
        <li>
          <p><a href="@routes.ApplicationController.getAnimeById(anime.mal_id.toString)" target="_blank"> <b>@anime.title</b> </a></p>
          <p>@{anime.`type`}, @anime.start_year</p>
@*          @if(anime.start_year.nonEmpty){, @anime.year}*@
        </li>
      }
      </ul>
    }
  </div>
}
