@import helper._

@import java.text.NumberFormat
@import java.text.SimpleDateFormat
@import java.time.format.DateTimeFormatter
@import java.time.ZoneId

@(user: UserProfile, username: String)(implicit request: RequestHeader)
@main("MAL User Details"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>User details</h2>
    <p><b>Username</b>: @user.username</p>
    <p><b>Location</b>: @user.location.getOrElse("Not provided")</p>
    <p><b>Date joined</b>: @{new SimpleDateFormat("dd MMM yyyy").format(user.joined)}</p>
    <p><b>Last online</b>: @{user.last_online.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("dd MMM yyyy HH:mm"))}</p>
    <br>

    <h3>Anime Statistics</h3>
    <p>
      @user.username has watched <b>@NumberFormat.getInstance().format(user.statistics.anime.episodes_watched)
      episode@if(user.statistics.anime.episodes_watched != 1){s}</b> of anime,
      totalling <b>@NumberFormat.getInstance().format(user.statistics.anime.days_watched)
      day@if(user.statistics.anime.days_watched != 1){s}</b> in duration.
    </p>
    <ul>
      <li><b>@NumberFormat.getInstance().format(user.statistics.anime.completed)</b> anime completed</li>
      <li><b>@NumberFormat.getInstance().format(user.statistics.anime.dropped)</b> anime dropped</li>
      <li>Currently watching <b>@NumberFormat.getInstance().format(user.statistics.anime.watching)</b> anime</li>
      <li><b>@NumberFormat.getInstance().format(user.statistics.anime.plan_to_watch)</b> anime on watchlist</li>
      <li>Has given a mean score of <b>@user.statistics.anime.mean_score</b></li>
    </ul>
    <br>

    <p><a class="image-text-link" href="@routes.ApplicationController.getUserFavourites(username)">
      <img class="link-icon" src="@routes.Assets.versioned("images/star-icon.png")" alt="Home Icon">
      See favourites
    </a></p>
  </div>
}
