@import helper._
@import models.recommendations.Pairing

@import java.time.ZoneId
@import java.time.format.DateTimeFormatter

@(pairings: Seq[Pairing], username: String, page: Int, pagination: SimplePagination)
@main("User's Recommended Pairings"){
  <div class="container mb-5">
    <h1>Jikan API</h1>
    <p><a class="image-text-link" href="@routes.HomeController.index()">
      <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
      Back to Home
    </a></p>
    <p><a class="image-text-link" href="@routes.ApplicationController.getUserProfile(username)">
      <img class="link-icon" src="@routes.Assets.versioned("images/profile-icon.png")" alt="Profile Icon">
      Back to User Profile
    </a></p>
  </div>

  <div class="container mb-5">
    <h2>@username's Recommended Anime Pairings</h2>
    @if(pairings.isEmpty) {
      <p>No recommended pairings.</p>
    } else {
      <div>
        <p>
          @if(page > 1){ <a href="@routes.ApplicationController.getUserRecommendedPairings(username, (page - 1).toString)"> Previous </a> - }
          <b>Page @page of @pagination.last_visible_page</b>
          @if(pagination.has_next_page){ - <a href="@routes.ApplicationController.getUserRecommendedPairings(username, (page + 1).toString)"> Next </a> }
        </p>
      </div>
      <ul class="ul-with-boxes">
      @for(pairing <- pairings) {
        <li class="li-with-box">
          <div class="char-img-container">
            @if(pairing.entry.head.images.jpg.image_url.contains("/images/manga/")) {
              <p><b>@pairing.entry.head.title</b> (Manga)</p>
            } else {
              <p><a href="@routes.ApplicationController.getAnimeById(pairing.entry.head.mal_id.toString)" target="_blank"> <b>@pairing.entry.head.title</b> </a></p>
            }
            <img class="char-img" src="@pairing.entry.head.images.jpg.image_url" alt="Anime image">
          </div>
          <div class="pairing-info-container">
            <p><b>Added on:</b> @{pairing.date.atZone(ZoneId.of("UTC")).format(DateTimeFormatter.ofPattern("dd MMM yyyy"))}</p>
            <p>@pairing.content</p>
          </div>
          <div class="char-img-container">
            @if(pairing.entry.last.images.jpg.image_url.contains("/images/manga/")) {
              <p><b>@pairing.entry.last.title</b> (Manga)</p>
            } else {
              <p><a href="@routes.ApplicationController.getAnimeById(pairing.entry.last.mal_id.toString)" target="_blank"> <b>@pairing.entry.last.title</b> </a></p>
            }
            <img class="char-img" src="@pairing.entry.last.images.jpg.image_url" alt="Anime image">
          </div>
        </li>
      }
      </ul>
      <br>
      <div>
        <p>
          @if(page > 1){ <a href="@routes.ApplicationController.getUserRecommendedPairings(username, (page - 1).toString)"> Previous </a> - }
          <b>Page @page of @pagination.last_visible_page</b>
          @if(pagination.has_next_page){ - <a href="@routes.ApplicationController.getUserRecommendedPairings(username, (page + 1).toString)"> Next </a> }
        </p>
      </div>
    }
  </div>
}
